
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/form-elements.css">
  <link rel="stylesheet" href="assets/css/style.css">



  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">


  <!-- Javascript -->
  <script src="assets/js/jquery-1.11.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/scripts.js"></script>


<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">

      <div class="row">

        <div class="col-sm-offset-3 col-sm-5">

          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Login to our site</h3>
                <p>Enter username and password to log on:</p>
              </div>
              <div class="form-top-right">
                <!--<i class="fa fa-key"></i>-->
                <img src="../../../assets/img/key.png" width="50px">
              </div>
            </div>
            <div class="form-bottom">
              <form (ngSubmit)="onSignin(f)" #f="ngForm">
                <div class="form-group">
                  <label class="sr-only" for="form-username">Username</label>
                  <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username" ngModel>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="form-password">Password</label>
                  <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" ngModel>
                </div>
                <button type="submit" class="btn">Sign in!</button>
              </form>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>

</div>


